@use '../../../styles/variables' as v;

.SignUp {
  text-align: center;
  border: solid black 0.4rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #f0c87e;
  margin-bottom: 6.3rem;
  padding: 1rem;
}

.SignUp__h1 {
  font-size: 2rem;
  margin-top: 3rem;
}

.SignUp__h2 {
  margin: 2.5rem;
  font-size: 1.5rem;
}

.SignUp__confirmation {
  display: flex;
  margin: 2rem auto;
  padding: 0.2rem 1.9rem;
  border-radius: 0.5rem;
  background: #000000;
  color: #dfdedf;
  cursor: pointer;
}

.SignUp__title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.SignUp__newAccount {
  margin-bottom: 1.25rem;
}

.SignUp__name,
.SignUp__email,
.SignUp__password {
  display: block;
  width: 100%;
  margin: 0 auto 0.3rem auto;

  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
}

.SignUp__password {
  margin-bottom: 1.5rem;
}

input {
  background-color: white;
}

.SignUp__Page {
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('/src/assets/14.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.Input {
  font-size: 1.3rem;
}

// TABLET & DESKTOP
@media (min-width: 720px) {
  .SignUp {
    width: 700px;
    height: 500px;
  }

  .SignUp__h1 {
    font-size: 3rem;
  }

  .SignUp__h2 {
    font-size: 2rem;
  }

  .SignUp__name,
  .SignUp__email,
  .SignUp__password {
    width: 105%;
  }
}
